@import "colors";


header#page-header {
  color: $secondary-color;
  background-image: url(header.jpg);
  padding: 7px;
  border-bottom: 3px solid darken($primary-color, 10%);

   h1 {
    text-align: center;
    text-transform: uppercase;
  }
}

footer#page-footer {
  color: $primary-color;
  background: $secondary-color;
  text-align: center;
  padding: 5px;
  border-top: 3px solid darken($secondary-color, 10%);
}
aside#sidebar {
  float: right;
  background: $secondary-color;
  width: 200px;
}

.background_image {
    background: image-url('background.jpg');
}